body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

header {
  height: 96px;
  padding: 20px 40px 20px 348px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInfo {
  align-items: center;
  width: 104px;
  height: 56px;
  gap: 16px;
  display: flex;
}

.helpBtn {
  width: 32px;
  height: 32px;
}

.helpBtn:hover {
  transform: scale(1.2);
}

.userBtn {
  width: 56px;
  height: 56px;
}

.userBtn:hover {
  filter: brightness(90%);
}

nav {
  width: 232px;
  height: 100vh;
  padding: 64px 0px 64px 0px;
  gap: 0px;
  background-color: #2a3647;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  width: 100.03px;
  height: 121.97px;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 232px;
  height: 229px;
}

.navBar a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 8px 56px;
}

.navBar a:hover {
  background-color: #091931;
}

.navBarIcon {
  width: 30px;
  height: 30px;
}

.navLaws {
  color: #a8a8a8;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navLaws > span:hover {
  cursor: pointer;
  font-weight: 700;
  color: rgba(41, 171, 226, 1);
}
